<hr>
<div class="container">
    <footer id="footer">
        <div class="row footer-row">
            <div class="col description_column">
                <h5 class="small-titles">HELP</h5>
                <ul>
                    <li><a href="#">Delivery & Returns</a></li>
                    <li><a href="#">Store Finder</a></li>
                    <li><a href="#">Gift Cards</a></li>
                </ul>
            </div>
            <div class="col description_column">
                <h5 class="small-titles">ABOUT US</h5>
               <ul>
                   <li><a href="#">Careers & Opportunitites</a></li>
                   <li><a href="#">Manage Cookies</a></li>
                   <li><a href="#">Accesibility</a></li>
               </ul>
            </div>
            <div class="col description_column">
                <h5 class="small-titles">MORE FROM US</h5>
                <ul>
                    <li><a href="#">Student Discount</a></li>
                    <li><a href="#">Fashion Footprint</a></li>
                </ul> 
            </div>
            <div class="col description_column">
                <h5 class="small-titles">INSPIRATIONS</h5>
                <ul>
                    <li><a href="#">Style & Stuff</a></li>
                    <li><a href="#">Designers</a></li>
                </ul> 
            </div>
        </div>
        <div class="row footer-row">
            <div class="col-8">
                <span>FOLLOW US</span>
                <div class="footerLinks">
                <a href=""class="footerSocialLinks"><i class="fab fa-facebook-f fa-lg"></i></a>
                <a href=""class="footerSocialLinks"><i class="fab fa-twitter fa-lg"></i></a>
                <a href=""class="footerSocialLinks"><i class="fab fa-instagram fa-lg"></i></a>
                <a href=""class="footerSocialLinks"><i class="fab fa-youtube fa-lg"></i></a>
                </div>
            </div>
            <div class="col-4 footer-text">
            <span class="footer-rights">&copy; All rights reserved</span>
            </div>
        </div>
    </footer>
</div>