// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "variables";
body {
    background-color: rgb(255, 255, 255);
    font-family: $font;
    
}
nav  {
    .navbar-link {
    border-right: 1px solid rgb(214, 214, 214);
    }
    #hamburger {
        outline: none;
    } 
    .nav-item {
        padding: 10px;
        margin: 10px;

    }
}
.main-content {
    margin-top: 70px;    
}
.clothes-card {
    border: none;
    img {
        min-width: 350px;
        min-height: 500px;
    }   
}
.clothes-body {
    padding: 0;
    p {
        text-align: left;
    }
}
.card-btn {
    color: rgb(15, 15, 15);
    padding: 0;
}
.card-btn:hover {
    color:black;
}
.clothes-nav a, .products-show a {
    text-decoration: none;
    color: rgb(10, 10, 10);

}
.clothes-nav:hover {
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
}
.btn-session {
    border: 1px solid rgb(150, 150, 150);
    border-radius: 0;
}
.btn-session:hover {
    color: rgb(167, 167, 167);
    border: 1px solid rgb(167, 167, 167);
    
}
.add-to-car {
    background-color: rgb(15, 15, 15);
    color: rgb(255, 255, 255);
}
.add-to-car:hover {
    background-color: rgb(250, 183, 0);
}
.total-payment {
    font-size: 1.3rem;
}
#cardimage {
    width:100%;
}
@media only screen and (max-width: 980px) {
    body a, p, h5{
        font-size: 2.4rem;
    }
    .nav-item {
        border-top: 1.5px solid rgb(223, 223, 223);
    }
}

