<div class="container">
<h1>New Collection</h1>
  <div class="row">
    <% @products.each_slice(12) do |row| %>
      <% row.each do |product| %>
        <div class="col">
          <div class="card clothes-card">
            <%= image_tag product.photo, class: 'card-img-top' %>
            <div class="card-body clothes-body">
            <h5><%= link_to "#{product.name}", product, class: 'card-btn' %></h5>
              <p>CLP <%= product.price %> </p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>